#list1 .form-control {
    border-color: transparent;
  }
#list1 .form-control:focus {
    border-color: transparent;
    box-shadow: none;
}
#list1 .select-input.form-control[readonly]:not([disabled]) {
    background-color: #fbfbfb;
}

button {
    border: none;
}

input#calendar {
    position: relative;
    right: 15px;
}

.content-update{
    padding: 20px; 
    background-color: #f2f2f2; 
}
.content-update input[type="text"]{
    width: 425px;
}
.content-update input[type="checkbox"] {
    vertical-align: middle; 
 }

.form-filter input[type="submit"]{
   margin-left: 10px;
}   