{% extends 'account/base.html' %}
{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Home" %}{% endblock head_title %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/task.css' %}">
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"
/>
<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>
<!-- MDB -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css"
  rel="stylesheet"
/>

<link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">  

{% endblock extra_head %}

{% block content %}
<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card" id="list1" style="border-radius: .75rem; background-color: #eff1f2;">
            <div class="card-body py-4 px-4 px-md-5">
  
              <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
                <i class="fas fa-check-square me-1"></i>
                <u>My Todo List</u>
              </p>
  
              <div class="pb-2">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-row align-items-center">
                      <input type="text" class="form-control form-control-lg" id="FormControlInput"
                        placeholder="Add new...">
                          <input type = "date" data-mdb-toggle="tooltip" title="Set due date" id="calendar">  
                      <div>
                        <button type="button" class="btn btn-primary" id="btnAdd">Add</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
              <hr class="my-4">
  
              <div class="d-flex justify-content-end align-items-center mb-4 pt-2 pb-3">
                <p class="small mb-0 me-2 text-muted">Filter</p>
                <select class="select">
                  <option value="1">All</option>
                  <option value="2">Completed</option>
                  <option value="3">Active</option>
                  <option value="4">Has due date</option>
                </select>
                <p class="small mb-0 ms-4 me-2 text-muted">Sort</p>
                <select class="select">
                  <option value="1">Added date</option>
                  <option value="2">Due date</option>
                </select>
                <a href="#!" style="color: #23af89;" data-mdb-toggle="tooltip" title="Ascending"><i
                    class="fas fa-sort-amount-down-alt ms-2"></i></a>
              </div>

              <!--Start User To-Do List-->
              
              <table>
                <thead>
                  <tr>
                    <th style="width: 10%;">Completed</th>
                    <th style="width: 60%;">Description</th>
                    <th style="width: 15%; text-align: center;">Due Date</th>
                    <th style="width: 15%; text-align: center;">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for task in tasks %}
                  <tr>
                    <!-- Completed -->
                    <td class="align-middle text-center">
                      <div class="form-check">
                        <input class="form-check-input me-0" type="checkbox" value="" id="flexCheckChecked" data-task-id={{task.id}} aria-label="..." {% if task.completed %} checked {% endif %} />
                      </div>
                    </td>
                    
                    <!-- Description -->
                    <td class="align-middle">{% if task.completed %}<s>{{ task.description }}</s>{% else %}{{ task.description }}{% endif %}</td>
                    
                    <!-- Due date -->
                    <td class="align-middle text-center">
                      {% if task.dueDate %}
                      <div class="py-2 px-3 me-2 border border-warning rounded-3 d-flex align-items-center bg-light">
                          <p class="small mb-0">   
                          <a href="#!" data-mdb-toggle="tooltip" title="Due on date">
                            <i class="fas fa-hourglass-half me-2 text-warning"></i>
                          </a>
                          {{task.dueDate}}
                          {% endif %}
                        </p>
                      </div>
                    </td>
                    
                    <!-- Actions -->
                    <td class="align-middle text-center">
                      <div class="d-flex flex-row justify-content-end mb-1">
                        <a href="#!" class="text-info" data-mdb-toggle="tooltip" title="Edit todo"><i class="fas fa-pencil-alt me-3"></i></a>
                        <button type="button" name="btn-delete" class="text-danger" data-mdb-toggle="modal" data-mdb-target="#modal" data-task-id="{{task.id}}" data-task-description="{{task.description}}">
                          <i class="fas fa-trash-alt"></i></button>
                      </div>
                      <div class="text-end text-muted">
                        <a href="" class="text-muted" data-mdb-toggle="tooltip" title="Created date">
                          <p class="small mb-0"><i class="fas fa-info-circle me-2"></i>{{ task.created }}</p> 
                        </a>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
 
            
           
            <!-- Form to create a task-->
              <form action="" method="post" id="frm-task" style="display: none;">
                {% csrf_token %}
                <input type="text" value="" name="description" id="desc-task">
                <input type="date" value="" name="dueDate" id="due-date">
                <button type="submit"></button>
              </form>
            
            <!-- Form to update a task-->
              <form action="" method="post" id="frm-update" style="display: none">
              {% csrf_token %}
              <button type="submit"></button>
              </form>

                     

              <!-- Modal -->
              <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modalTitle">Delete Task</h5>
                      <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                      <form action="" method="post" id="frm-delete">
                        {% csrf_token %}
                        <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">No</button>
                        <button type="submit" id="btn-yes-delete" class="btn btn-primary">Yes</button>
                    </form>    
                    
                    </div>
                  </div>
                </div>
              </div>
                            
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>  
<script src ="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  

  <script
   type="text/javascript"
   src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js"
></script>
<script src="{% static 'js/task.js' %}"></script>
{% endblock content %}