{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/password_reset_from_key_done.css' %}">
{% endblock %}
{% block content %}
<div class="content-reset-from-key-done">
    <h1>{% trans "Change Password" %}</h1>
    <br />  
    <p>{% trans 'Your password is now changed.' %}</p>
    <br>
    <a href="{% url 'index' %}"><button type="submit" class="btn btn-primary mb-3">Login</button></a>
{% endblock %}
</div>